/* @theme straya */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,700;1,200;1,700&family=Oswald:wght@700&display=swap');
@import 'default';

/* Color variables */
:root {
    --color-fg-default: white;
    --color-border-default: hsl(194, 20%, 60%);
    --color-border-default: hsl(194, 20%, 70%);
    --color-canvas-default: hsl(194, 50%, 30%);
    --color-canvas-subtle: hsl(194, 50%, 35%);
    --color-border-default: hsl(194, 20%, 80%);
    --color-border-muted: #d8dee4;
    --color-neutral-muted: rgba(175,184,193,.2);
    --color-accent-fg: #F7D046;
    --color-accent-emphasis: #F7D046;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #cf222e;
    color-scheme: dark;
    --h1-color: white;
    --heading-strong-color: #192A5C;
    --header-footer-color: hsl(194, 10%, 100%);
}

/* Background */
:root {
    background-image: url("assets/image/stars.png"), linear-gradient(#285D6D, #79BCB0);
    font-family: Karla, sans-serif;
    font-size: 150%;
}

:root.dark {
    background: black;
    --heading-strong-color: hsl(225, 57%, 40%);
}

:root.light {
    color-scheme: light;
    --color-fg-default: black;
    --header-footer-color: hsl(194, 10%, 0%);
    --color-accent-fg: hsl(194, 50%, 30%);
}

/* Headings */
h1 {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

/* Transparent image backgrounds */
img {
    background-color: transparent;
}

/* */
:root.lead {
    text-align: center !important;
    font-size: 300%;
}

.ipa {
    font-family: serif;
}

:root audio {
    /* height: 20px; */
    vertical-align: bottom;
}

table {
    font-size: 0.7em;
    float: right;
}
footer {
    font-size: 0.5em;
    line-height: 1.15;
}